.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.overview{
    font-size: clamp(15px, 2vw, 20px);
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}

.featureBox{
    padding: 20px 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 10px auto;
    overflow-y: hidden;
    overflow-x: scroll;
}

.feature{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px gray;
    padding: 3px 20px;
}

.feature img{
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.feature span{
    font-size: 16px;
    width: max-content;
}

.rate{
    color: rgb(15, 26, 0);
    min-width: 60%;
}

.rate span{
    font-size: 18px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    width: max-content;
    padding: 5px 20px;
    font-weight: bold;
    font-size: clamp(14px, 3vw, 18px);
    margin: 5px;
    border-radius: 10px;
}

.btn1{
    background-color: #0c0000;
    border: 1px solid gray;
    color: white;
}

.btn2{
    background-color: #ffffff00;
    border: 1px solid #0c0000;
    color: #0c0000;
}

.galleryBox {
    width: calc(100vw - clamp(10px, 15vw, 250px));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 30px 15px;
    background-color: #ffffff;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 15px;
}

.galleryBox img {
    max-height: 250px;
    min-height: 150px;
    width: auto;
    max-width: 75vw;
    object-fit: cover;
    border-radius: 5px;
}